@charset "utf-8";

.info-list{
    list-style: none;
    padding: 0 4px;
}

.info-list li{
    display: block;
    margin: 0 0 4px 0;
}

.info-list li a{
    display: block;
    padding-left: 8px;
    border: solid 1px;
}

.info-list li a::after {
	content: ">";
	position: absolute;
	left: 96%;
}
.pagination{
    text-align: center;
}
.btn {
    border: 1px solid #c0c0c0;
	border-radius: 10px;
	display: inline-block;
	margin: 0;
	padding: 3px 12px;
	text-decoration: none;
}
.page-btn {
}

table{
    border-spacing: 0;
}
.table{
    border-collapse: separate;
    border-color: #ddd #ddd #ddd -moz-use-text-color;
    border-image: none;
    border-radius: 4px;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
}
.table th, .table td {
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}



.red {
	color: #ff0000;
	font-weight: bold;
}
.green {
	color: #00ff00;
	font-weight: bold;
}
.blue {
	color: #0000ff;
	font-weight: bold;
}
.yellow {
	color: #ffff00;
	font-weight: bold;
}
.purple {
	color: #ff00ff;
	font-weight: bold;
}
.lightBlue {
	color: #00ffff;
	font-weight: bold;
}
.black {
	color: #000000;
	font-weight: bold;
}
.white {
	color: #ffffff;
	font-weight: bold;
}
.gray {
	color: #888888;
	font-weight: bold;
}
.big {
	font-size: 150%;
}
.small {
	font-size: 75%;
}
.showAndroid, .showiPhone{
    display: none;
}
